*, html, body {
    margin : 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
}

.navcontainer {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.brand {
    display: flex;
    padding: 15px;
    font-size: 25px;
    align-items: center;
}

.name {
    color: #0069e1;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style: none;
    padding: 15px;
}

.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation> li> a:hover {
    color: #0069e1;
    transition: all 0.2s ease-in-out;
}

.das-content {
    margin: 100px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.178);
    padding: 60px;
}

.das-content img {
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 10px;
}

.table-data {
    
	text-align: center;
	border-collapse: collapse;
	width: 100%;
    font-size: 20px;
}

.gear-content {
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

th, td {
	border: 1px solid black;
	padding: 5px 20px;
}

.btn {
	background-color: #0069e1;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    font-weight: bold;
}

.btn-tambah {
	margin: 10px 0;
}

.btn a {
	text-decoration: none;
    font-weight: bold;
	color: white;
}

.halreservasi-entry {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.hreservasi-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 600px;
    height: 600px;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 25px;
}

.hreservasi-entry>label {
    margin-top: 20px;
    font-weight: 500;
}

.hreservasi-entry>input {
    width: 300px;
    padding: 5px;
    margin: -20px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.733);
}

.hreservasi-entry>button {
    font-size: 20px;
    padding: 5px;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;
    border: 0px solid;
    width: 100px;
    font-weight: bold;
    margin-bottom: 0px;
}

.hreservasi-entry>button:hover{
    background-color: #0069e1;
    color: white;
}

.hreservasi-entry>p{
    margin-bottom: -20px;
    font-size: 30px;
    font-weight: bold;
}

h1 {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    font-size:40px;
    padding: 10px;
    background-color: #000000;
    border: 1px solid;
    border-radius: 15px;
    width: 800px;
    color: white;
}
